@use "../global" as global;

.l-main {
  margin-block-start: global.$header-height;

  &.is-scroll {
    margin-block-start: global.$header-height-sp-scroll;

    @include global.mq(lg) {
      margin-block-start: global.$header-height-pc-scroll;
    }
  }
}

.l-inner {
  margin-inline: auto;
  max-width: global.$max-width;
  width: 100%;
}

.l-single {

}