@use "sass:map";

// 色
$colors: (
  blue-50:   #DAEFF8,
  gray-900:  #343436,
  blue-300:  #629DE2,
  blue-700:  #135097,
  teal-400:  #42A0AD,
  purple-400:#C88DEC,
  violet-400:#9C8CFF,
  gray-500:  #676E87,
  white:     #FFFFFF,
  gray-100:  #E6EDF3,
  brown-900: #241919,
  gray-200: #DDE1F0,
  blue-500: #2A84BF,
  blue-500-alt: #3284BA
);

@function color($key) {
  @return map.get($colors, $key);
}

$bg-color: (
  base: color(gray-100),
  blue: color(blue-300),
  header-nav: color(blue-700),
  footer: color(brown-900),
  card: color(white),
  icon: color(white),
  category-all: color(blue-300),
  category-latest: color(blue-700),
  category-tips: color(teal-400),
  category-interview: color(purple-400),
  category-news: color(violet-400),
  tag: color(blue-50),
  btn: color(blue-700),
  btn-reverse: color(white),
  pagination: color(gray-500),
  pagination-link: color(blue-300),
  swiper-navigation-btn-hover: color(white),
  swiper-navigation-btn-fv: color(blue-700),
  swiper-navigation-btn-reverse-hover: color(blue-700),
  swiper-scrollbar: color(gray-200),
  swiper-scrollbar-drag: color(blue-700),
  category-tabs: color(white),
  search-tab: color(blue-300),
  search-body: color(white),
  cta: color(blue-500),
  cta-reverse: color(white),
  single: color(white),
  archive-tag-body: color(white),
  single-toc-lead: color(blue-50),
  single-table: color(white),
  single-th-row: color(gray-100),
  single-th-highlight: color(blue-300),
  single-btn: color(blue-300),
  single-faq-question: color(gray-500),
  single-faq-answer: color(blue-300)
);

$fill: (
  swiper-navigation-icon: color(white),
  swiper-navigation-icon-hover: color(blue-300),
  swiper-navigation-icon-reverse: color(blue-700),
  swiper-navigation-icon-reverse-hover: color(white),
  cta-icon: color(blue-500-alt),
  cta-icon-reverse: color(white),
  pagination-icon: color(white),
  single-btn-icon: color(white)
);

$stroke: (
  cta-icon: color(blue-500-alt),
  cta-icon-reverse: color(white)
);

$border-color-white: color(white);
$border-color-swiper-navigation: color(white);
$border-color-swiper-navigation-reverse: color(blue-700);
$border-color-category-all: color(blue-300);
$border-color-category-latest: color(blue-700);
$border-color-category-tips: color(teal-400);
$border-color-category-interview: color(purple-400);
$border-color-category-news: color(violet-400);
$border-color-btn: color(blue-700);
$border-color-single-btn: color(white);
$border-color-sort: color(gray-500);
$border-color-search-body: color(blue-300);
$border-color-search-row: color(gray-200);
$border-color-cta: color(white);
$border-color-archive-tag-body: color(blue-300);
$border-color-single-heading: color(blue-300);
$border-color-single-toc: color(blue-50);
$border-color-single-table: color(blue-300);
$border-color-single-faq-question: color(gray-500);
$border-color-single-faq-answer: color(blue-300);
$border-color-single-line: color(gray-200);
$border-color-single-readmore: color(gray-100);

// フォント
$font-family: (
  jp: ("Noto Sans JP", sans-serif),
  zen: ("Zen Maru Gothic", sans-serif)
);

$font-color: (
  base: color(gray-900),
  gray: color(gray-500),
  blue: color(blue-700),
  white: color(white),
  title: color(blue-700),
  title-reverse: color(white),
  btn: color(white),
  btn-reverse: color(blue-700),
  sort: color(gray-500),
  sort-active: color(blue-700),
  category-tabs-active: color(white),
  category-all: color(blue-300),
  category-latest: color(blue-700),
  category-tips: color(teal-400),
  category-interview: color(purple-400),
  category-news: color(violet-400),
  pagination-link: color(white),
  search-heading: color(blue-300),
  cta: color(white),
  cta-reverse: color(blue-500-alt),
  single-data: color(gray-500),
  single-toc: color(blue-700),
  single-th-highlight: color(white),
  single-faq-lead: color(white),
  single-faq-info: color(gray-500)
);

$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
);

$line-height: (
  sp: 1.4,
  pc: 1.6,
  nav-sp: 1.2,
  nav-sp-btn: 1.25,
  date-sp:1.2,
  tag-sp: 1.8,
  tag-pc: 1.5,
  footer: 1.2,
  heading: 1.2,
  btn-zen: 1.8,
  btn-jp: 1.3,
  sort: 1.3,
  category-tabs-sp: 1.15,
  category-tabs-pc: 1.5,
  search: 1.5,
  cta: 1.3,
  archive-tag: 1.5,
  single-data: 1.8,
  single-base-sp: 1.8,
  single-base-pc: 2,
  single-title-sp: 1.5,
  single-title-pc: 1.8,
  single-toc: 1.6,
  single-heading: 1.6,
  single-table: 1.5,
  single-faq: 2,
  single-faq-info: 1.2,
  single-tag: 2,
);

$letter-spacing: (
  normal: normal,
  btn-zen-sp: 2.8px,
  btn-zen-pc: 4px,
  btn-jp-sp: 1.12px,
  btn-jp-pc: 1.92px,
  heading-sp: 4.8px,
  heading-pc: 6.4px,
  search-tab-sp: 2.25px,
  search-tab-pc: 2.7px,
  search-heading-sp: 1.3px,
  search-heading-pc: 1.4px,
  cta-sp: 0.36px,
  cta-pc: 0.48px,
  pagination: 3px,
  archive-tag-sp: 2.25px,
  archive-tag-pc: 4.2px,
  single-title-sp: 2px,
  single-title-pc: 2.8px,
  single-base-sp: 1.4px,
  single-base-pc: 2.25px,
  single-toc-1-sp: 0.9px,
  single-toc-1-pc: 1.92px,
  single-toc-2-sp: 0.84px,
  single-toc-2-pc: 1.8px,
  single-heading-2-sp: 3px,
  single-heading-2-pc: 3.6px,
  single-heading-3: 3.2px,
  single-faq-lead: 3px,
  single-faq-text: 2.25px,
  single-faq-info: 0.36px,
  single-tag: 2.25px,
);

// 各テキストスタイルの定義
$base-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-color: map.get($font-color, base),
    font-size: 16px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-color: map.get($font-color, base),
    font-size: 16px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc)
  )
) !default;

$heading-styles-zen: (
  sp: (
    font-family: map.get($font-family, zen),
    font-size: 24px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, heading),
    letter-spacing: map.get($letter-spacing, heading-sp)
  ),
  pc: (
    font-family: map.get($font-family, zen),
    font-size: 32px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, heading),
    letter-spacing: map.get($letter-spacing, heading-pc)
  )
) !default;


$btn-styles-zen: (
  sp: (
    font-family: map.get($font-family, zen),
    font-size: 14px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, btn-zen),
    letter-spacing: map.get($letter-spacing, btn-zen-sp)
  ),
  pc: (
    font-family: map.get($font-family, zen),
    font-size: 24px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, btn-zen),
    letter-spacing: map.get($letter-spacing, btn-zen-pc)
  )
) !default;

$btn-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, btn-jp),
    letter-spacing: map.get($letter-spacing, btn-jp-sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 24px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, btn-jp),
    letter-spacing: map.get($letter-spacing, btn-jp-pc)
  )
) !default;

$cta-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, cta)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 18px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, cta)
  )
) !default;

$cta-styles-zen: (
  sp: (
    font-family: map.get($font-family, zen),
    font-size: 18px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, cta),
    letter-spacing: map.get($letter-spacing, cta-sp)
  ),
  pc: (
    font-family: map.get($font-family, zen),
    font-size: 24px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, cta),
    letter-spacing: map.get($letter-spacing, cta-pc)
  )
) !default;

$category-tabs-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, category-tabs-sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 16px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, category-tabs-pc)
  )
) !default;

$card-title-fv-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 20px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, pc)
  )
) !default;

$card-category-fv-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 18px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 20px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc)
  )
) !default;

$card-date-fv-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc)
  )
) !default;

$tag-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 12px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, tag-sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, tag-pc)
  )
) !default;

$card-title-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 20px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, pc)
  )
) !default;

$card-category-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 13px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 18px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  )
) !default;

$card-tag-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 12px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc)
  )
) !default;

$card-date-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 12px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, date-sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, date-sp)
  )
) !default;

$sort-styles-jp: (
  sp: (
    font-color: map.get($font-color, sort),
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sort)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 18px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sort)
  )
) !default;

$search-tab-styles-zen: (
  sp: (
    font-color: map.get($font-color, title-reverse),
    font-family: map.get($font-family, zen),
    font-size: 15px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, search),
    letter-spacing: map.get($letter-spacing, search-tab-sp)
  ),
  pc: (
    font-family: map.get($font-family, zen),
    font-size: 18px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, search),
    letter-spacing: map.get($letter-spacing, search-tab-pc)
  )
) !default;

$search-heading-styles-jp: (
  sp: (
    font-color: map.get($font-color, search-heading),
    font-family: map.get($font-family, jp),
    font-size: 13px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, search),
    letter-spacing: map.get($letter-spacing, search-heading-sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, search),
    letter-spacing: map.get($letter-spacing, search-heading-pc)
  )
) !default;

$pagination-styles-zen: (
  sp: (
    font-color: map.get($font-color, pagination),
    font-family: map.get($font-family, zen),
    font-size: 20px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, sp),
    letter-spacing: map.get($letter-spacing, pagination)
  )
) !default;

$archive-tag-heading-styles-zen: (
  sp: (
    font-color: map.get($font-color, white),
    font-family: map.get($font-family, zen),
    font-size: 15px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, archive-tag),
    letter-spacing: map.get($letter-spacing, archive-tag-sp)
  ),
  pc: (
    font-family: map.get($font-family, zen),
    font-size: 28px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, archive-tag),
    letter-spacing: map.get($letter-spacing, archive-tag-pc)
  )
) !default;

$single-title-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 20px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, single-title-sp),
    letter-spacing: map.get($letter-spacing, single-title-sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 28px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, single-title-pc),
    letter-spacing: map.get($letter-spacing, single-title-pc)
  )
) !default;

$single-heading-2-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 20px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, single-heading),
    letter-spacing: map.get($letter-spacing, single-heading-2-sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 24px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, single-heading),
    letter-spacing: map.get($letter-spacing, single-heading-2-pc)
  )
) !default;

$single-heading-3-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 16px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, single-heading),
    letter-spacing: map.get($letter-spacing, single-heading-3)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 16px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, single-heading),
    letter-spacing: map.get($letter-spacing, single-heading-3)
  )
) !default;

$single-toc-1-styles-jp: (
  sp: (
    font-color: map.get($font-color, single-toc),
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, single-toc),
    letter-spacing: map.get($letter-spacing, single-toc-1-sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 16px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, single-toc),
    letter-spacing: map.get($letter-spacing, single-toc-1-pc)
  )
) !default;

$single-toc-2-styles-jp: (
  sp: (
    font-color: map.get($font-color, single-toc),
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-toc),
    letter-spacing: map.get($letter-spacing, single-toc-2-sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-toc),
    letter-spacing: map.get($letter-spacing, single-toc-2-pc)
  )
) !default;

$single-date-styles-jp: (
  sp: (
    font-color: map.get($font-color, single-data),
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-data)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 16px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-data)
  )
) !default;

$single-base-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-base-sp),
    letter-spacing: map.get($letter-spacing, single-base-sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-base-pc),
    letter-spacing: map.get($letter-spacing, single-base-pc)
  )
) !default;

$single-table-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 13px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-table),
    letter-spacing: map.get($letter-spacing, normal)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 16px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-table),
    letter-spacing: map.get($letter-spacing, normal)
  )
) !default;

$single-faq-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-faq)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-faq)
  )
) !default;

$single-faq-info-styles-jp: (
  sp: (
    font-color: map.get($font-color, single-faq-info),
    font-family: map.get($font-family, jp),
    font-size: 12px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-faq-info),
    letter-spacing: map.get($letter-spacing, single-faq-info)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 16px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-faq-info),
    letter-spacing: map.get($letter-spacing, single-faq-info)
  )
) !default;

$single-tag-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-tag),
    letter-spacing: map.get($letter-spacing, single-tag)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, single-tag),
    letter-spacing: map.get($letter-spacing, single-tag)
  )
) !default;

// ブレークポイント
$breakpoints: (
  xs: "screen and (min-width: 376px)",
  sm: "screen and (min-width: 601px)",
  md: "screen and (min-width: 769px)",
  lg: "screen and (min-width: 901px)",
  xl: "screen and (min-width: 1201px)",
) !default;

// サイズ
$max-width: 1440px;
$header-height: 140px;
$header-height-sp-scroll: 68px;
$header-height-pc-scroll: 99px;

// 画像ディレクトリパス（記述例：background: url("#{global.$asset-img-path}/contact/check.png") no-repeat top center/cover;）
$asset-img-path: "../img";

// transition
$transition-fast: 0.2s;
$transition-base: 0.3s;
$transition-slow: 0.5s;
$transition-ease: ease;
$transition-emphasize: cubic-bezier(0.4, 0, 0.2, 1);

// 重なり順の定義
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // トップへ戻るボタン
  to-top: 35,
  // フローティング
  floating: 30,
  // スマホ画面下部バナー
  fixed-banner: 25,
  // ヘッダー
  header: 20,
  // ヘッダーナビ（スマホ表示時）
  header-nav: 15,
  // フッター
  footer: 10,
  // 基本より1段前
  default-front: 2,
  // 基本
  default: 1,
  // 親要素の背景に回す要
  behind: -1
);