@use "sass:map";

// 色
$colors: (
  blue-50:   #DAEFF8,
  gray-900:  #343436,
  blue-300:  #629DE2,
  blue-700:  #135097,
  teal-400:  #42A0AD,
  purple-400:#C88DEC,
  violet-400:#9C8CFF,
  gray-500:  #676E87,
  white:     #FFFFFF,
  gray-100:  #E6EDF3,
  brown-900: #241919
);

@function color($key) {
  @return map.get($colors, $key);
}

$bg-color: (
  base: color(gray-100),
  blue: color(blue-300),
  header-nav: color(blue-700),
  footer: color(brown-900),
  card: color(white),
  icon: color(white),
  category-latest: color(blue-700),
  category-tips: color(teal-400),
  category-interview: color(purple-400),
  category-news: color(violet-400),
  tag: color(blue-50),
  btn: color(blue-700),
  btn-reverse: color(white),
  pagination-link: color(blue-300),
  swiper-navigation: color(blue-700)
);

$border-color-white: color(white);
$border-color-category-latest: color(blue-700);
$border-color-category-tips: color(teal-400);
$border-color-category-interview: color(purple-400);
$border-color-category-news: color(violet-400);
$border-color-btn: color(blue-700);

// フォント
$font-family: (
  jp: ("Noto Sans JP", sans-serif),
  zen: ("Zen Maru Gothic", sans-serif)
);

$font-color: (
  base: color(gray-900),
  gray: color(gray-500),
  blue: color(blue-700),
  white: color(white),
  title: color(blue-700),
  title-reverse: color(white),
  btn: color(white),
  btn-reverse: color(blue-700),
  sort: color(gray-500),
  sort-active: color(blue-700),
  category-latest: color(blue-700),
  category-tips: color(teal-400),
  category-interview: color(purple-400),
  category-news: color(violet-400),
  pagination-link: color(white)
);

$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
);

$line-height: (
  sp: 1.4,
  sp-nav: 1.2,
  sp-nav-btn: 1.25,
  sp-date:1.2,
  sp-tag: 1.8,
  footer: 1.2,
  pc: 1.6,
  pc-tag: 1.5,
  heading: 1.2,
  tab: 1.5,
  btn: 1.8
);

$letter-spacing: (
  sp-btn: 3.6px,
  pc-btn: 4px,
  sp-heading: 4.8px,
  pc-heading: 6.4px
);

// 各テキストスタイルの定義
$base-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-color: map.get($font-color, base),
    font-size: 16px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-color: map.get($font-color, base),
    font-size: 16px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc)
  )
) !default;

$heading-styles-zen: (
  sp: (
    font-family: map.get($font-family, zen),
    font-size: 24px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, heading),
    letter-spacing: map.get($letter-spacing, sp-heading)
  ),
  pc: (
    font-family: map.get($font-family, zen),
    font-size: 32px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, heading),
    letter-spacing: map.get($letter-spacing, pc-heading)
  )
) !default;


$btn-styles-zen: (
  sp: (
    font-family: map.get($font-family, zen),
    font-size: 18px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, btn),
    letter-spacing: map.get($letter-spacing, sp-btn)
  ),
  pc: (
    font-family: map.get($font-family, zen),
    font-size: 20px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, btn),
    letter-spacing: map.get($letter-spacing, pc-btn)
  )
) !default;

$cta-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 18px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 18px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, pc)
  )
) !default;

$cta-styles-zen: (
  sp: (
    font-family: map.get($font-family, zen),
    font-size: 24px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, zen),
    font-size: 24px,
    font-weight: map.get($font-weight, bold),
    line-height: map.get($line-height, pc)
  )
) !default;

$category-filter-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 18px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 18px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc)
  )
) !default;

$card-title-fv-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 20px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, pc)
  )
) !default;

$card-category-fv-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 18px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 20px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc)
  )
) !default;

$card-date-fv-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc)
  )
) !default;

$tag-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 12px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp-tag)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc-tag)
  )
) !default;

$card-title-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 20px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, pc)
  )
) !default;

$card-category-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 13px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 18px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  )
) !default;

$card-tag-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 12px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc)
  )
) !default;

$card-date-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 12px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp-date)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp-date)
  )
) !default;

$single-heading-1-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 20px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 28px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, pc)
  )
) !default;

$single-heading-2-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 18px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 24px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, pc)
  )
) !default;

$single-heading-3-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 16px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 16px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, pc)
  )
) !default;

$single-toc-1-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 16px,
    font-weight: map.get($font-weight, medium),
    line-height: map.get($line-height, pc)
  )
) !default;

$single-toc-2-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc)
  )
) !default;

$single-date-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc)
  )
) !default;

$single-base-styles-jp: (
  sp: (
    font-family: map.get($font-family, jp),
    font-size: 14px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, sp)
  ),
  pc: (
    font-family: map.get($font-family, jp),
    font-size: 15px,
    font-weight: map.get($font-weight, regular),
    line-height: map.get($line-height, pc)
  )
) !default;

// ブレークポイント
$breakpoints: (
  xs: "screen and (min-width: 376px)",
  sm: "screen and (min-width: 601px)",
  md: "screen and (min-width: 769px)",
  lg: "screen and (min-width: 901px)",
  xl: "screen and (min-width: 1201px)",
) !default;

// サイズ
$max-width: 1440px;
$header-height: 140px;
$header-height-sp-scroll: 68px;
$header-height-pc-scroll: 99px;

// 画像ディレクトリパス（記述例：background: url("#{global.$asset-img-path}/contact/check.png") no-repeat top center/cover;）
$asset-img-path: "../img";

// transition
$transition-fast: 0.2s;
$transition-base: 0.3s;
$transition-slow: 0.5s;
$transition-ease: ease;
$transition-emphasize: cubic-bezier(0.4, 0, 0.2, 1);

// 重なり順の定義
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // トップへ戻るボタン
  to-top: 35,
  // フローティング
  floating: 30,
  // スマホ画面下部バナー
  fixed-banner: 25,
  // ヘッダー
  header: 20,
  // ヘッダーナビ（スマホ表示時）
  header-nav: 15,
  // フッター
  footer: 10,
  // 基本より1段前
  default-front: 2,
  // 基本
  default: 1,
  // 親要素の背景に回す要
  behind: -1
);