@use "../../global" as global;


.c-articles-swiper {

  &__lead {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-inline: 32px 38px;

    @include global.mq(sm) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @include global.mq(lg) {
      padding-inline-start: clamp(102px, 13.1vw, 188px); // 中間値：188px / 1440px * 100vw
      padding-inline-end: clamp(110px, 14.8vw, 212px); // 中間値：212px / 1440px * 100vw
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    position: relative;
    z-index: 10;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 2px solid global.$border-color-swiper-navigation;
    transition: opacity global.$transition-base global.$transition-ease;

    &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:hover,
    &:focus-visible {
      @include global.bg-color(swiper-navigation-btn-hover);

      & svg {
        @include global.fill(swiper-navigation-icon-hover);
      }
    }

    & svg {
      width: 17px;
      height: 15px;
      @include global.fill(swiper-navigation-icon);
      transition: fill global.$transition-base global.$transition-ease;
    }

    &--reverse {
      border-color: global.$border-color-swiper-navigation-reverse;

      &:hover,
      &:focus-visible {
        @include global.bg-color(swiper-navigation-btn-reverse-hover);

        & svg {
          @include global.fill(swiper-navigation-icon-reverse-hover);
        }
      }

      & svg {
        @include global.fill(swiper-navigation-icon-reverse);
      }
    }

    &-prev {

    }

    &-next {

    }
  }

  &__body {
    padding-inline: 32px 38px;

    @include global.mq(lg) {
      padding-inline-start: clamp(102px, 13.1vw, 188px); // 中間値：188px / 1440px * 100vw
      padding-inline-end: clamp(110px, 14.8vw, 265px); // 中間値：213px / 1440px * 100vw
    }
  }

  &__wrapper {

  }

  &__slide {
    width: 302px;
  }

  &__scrollbar {

    &.swiper-scrollbar-horizontal {
      position: static;
      margin-block-start: 24px;
      width: 100%;
      height: 8px;
      border-radius: 4px;
      @include global.bg-color(swiper-scrollbar);

      @include global.mq(lg) {
        margin-block-start: 36px;
      }
    }

    & .swiper-scrollbar-drag {
      border-radius: 4px;
      @include global.bg-color(swiper-scrollbar-drag);

      @include global.mq(lg) {
        border-radius: 10px;
      }
    }
  }
}