@use "../../global" as global;

.c-articles-search {

  &__tab {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    padding-block: 10px 6px;
    padding-inline: 16px 28px;
    width: fit-content;
    @include global.search-tab-zen(sp);
    border-radius: 16px 16px 0 0;
    @include global.bg-color(search-tab);

    @include global.mq(lg) {
      gap: 11px;
      padding-block: 12px 7px;
      padding-inline: 24px 41px;
      @include global.search-tab-zen(pc);
    }

    & svg {
      width: 18px;
      aspect-ratio: 1 / 1;

      @include global.mq(lg) {
        width: 24px;
      }
    }
  }

  &__body {
    padding-block: 16px 24px;
    padding-inline: 12px 12px;
    border-radius: 0 20px 20px 20px;
    border: 1px solid global.$border-color-search-body;
    @include global.bg-color(search-body);

    @include global.mq(lg) {
      padding-block: 24px 36px;
      padding-inline: clamp(24px, 6.1vw, 87px); // 中間値：88px / 1440px * 100vw
    }
  }

  &__table {
    
  }

  &__tbody {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__tr {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-block: 8px 6px;
    padding-inline: 4px 8px;
    border-bottom: 1px solid global.$border-color-search-row;

    @include global.mq(lg) {
      flex-direction: row;
      align-items: baseline;
      gap: 40px;
      padding-block: 12px 12px;
      width: fit-content;
    }
  }

  &__th {
    flex: 0 0 auto;
    @include global.search-heading-jp(sp);
    white-space: nowrap;

    @include global.mq(lg) {
      @include global.search-heading-jp(pc);
    }
  }

  &__td {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 6px;
    

    @include global.mq(lg) {
      gap: 8px 14px;
    }
  }
}