@use "../../global" as global;

.c-pagination {
  margin-inline: auto;
  width: fit-content;

  &__list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__item {

  }

  &__link {
    display: inline-block;
    padding-block: 2px 2px;
    padding-inline: 9px 8px;
    @include global.pagination-zen(sp);
    border-radius: 4px;
    transition: opacity global.$transition-slow global.$transition-ease;

    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }

    &--ellipsis {
      padding-inline: 0;
    }

    &—-prev,
    &—-next {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      @include global.bg-color(pagination-link);
    }

    &—prev {

      @include global.mq(lg) {
        margin-right: 8px;
      }
    }

    &—next {

      @include global.mq(lg) {
        margin-left: 8px;
      }
    }

    &.is-active {
      @include global.font-color(pagination-link);
      @include global.bg-color(pagination-link);
    }

    & svg {
      display: block;
      transform: translateX(1px);
      width: 13px;
      height: 16px;
      @include global.fill(pagination-icon);
    }
  }
}