@use "../../global/settings" as global;

.c-tag {
  display: inline-block;
  flex: 0 0 auto;
  padding-block: 3px 2px;
  padding-inline: 8px 12px;
  @include global.tag-jp(sp);
  border-radius: 24px;
  @include global.bg-color(tag);

  &--search {
    transition:
      color global.$transition-slow global.$transition-ease,
      background-color global.$transition-slow global.$transition-ease;

    @include global.mq(lg) {
      @include global.tag-jp(pc);
    }

    &:hover,
    &:focus-visible {
      @include global.font-color(tag-hover);
      @include global.bg-color(tag-hover);
    }
  }
}