@use "../../global/settings" as global;

/* line-height調整 */

.u-line-height-sp-130 {
  line-height: 1.3;

  @include global.mq(lg) {
    line-height: inherit;
  }
}

.u-line-height-sp-140 {
  line-height: 1.4;

  @include global.mq(lg) {
    line-height: inherit;
  }
}

/* letter-spacing調整 */
.u-letter-spacing-normal {
  letter-spacing: normal;
}

/* ちょい足しユーティリティ */
.u-mt-0 { margin-block-start: 0 !important; }
.u-mb-0 { margin-block-end: 0 !important; }