@use "../../../global/settings" as global;

.p-home-all-articles {
  padding-block-start: 48px;

  @include global.mq(lg) {
    padding-block-start: 64px;
  }

  &__inner {
    padding-inline: 18px 19px;

    @include global.mq(md) {
      padding-inline: 44px;
    }

    @include global.mq(lg) {
      padding-inline: clamp(100px, 14.1vw, 203px); // 中間値：203px / 1440px * 100vw
    }
  }

  &__title {
    padding-left: 12px;

    @include global.mq(lg) {
      padding-left: 0;
    }
  }

  &__contents {
    position: relative;
    margin-block-start: 20px;

    @include global.mq(lg) {
      margin-block-start: 47px;
    }
  }

  &__sort {
    padding-right: 2px;

    @include global.mq(xl) {
      position: absolute;
      top: 5px;
      right: 28px;
      padding-right: 0;
    }
  }

  &__body {
    margin-block-start: 8px;
    min-height: 520px;

    @include global.mq(lg) {
      min-height: auto;
    }
  }

  &__list {

  }

  &__btn {
    margin-block-start: 20px;
    text-align: center;

    @include global.mq(lg) {
      margin-block-start: 32px;
      text-align: right;
    }
  }
}