@use "../../../global/settings" as global;

.p-home-fv {
  padding-block-end: 20px;

  @include global.mq(lg) {
    padding-block-end: 0;
  }

  &__inner {

  }

  &__contents {
    position: relative;
    
  }

  &__swiper {
    padding-block: 50px 32px;
    width: 100%;
    min-height: calc(341px + 12px + 50px + 32px);
    overflow: hidden;
    visibility: visible;

    @include global.mq(lg) {
      padding-block: 23px 48px;
      min-height: calc(549px + 40px + 23px + 48px);
    }

    // JSが「これから初期化する」時だけ一時的に隠す
    &.is-prep {
      visibility: hidden;
    }

    // 初期化完了で表示（明示しておく）
    &.is-ready {
      visibility: visible;
    }

    &-wrapper {
      display: flex;
      padding-block-start: 12px;
      height: auto;

      @include global.mq(lg) {
        padding-block-start: 40px;
      }
    }

    &-slide {
      flex-shrink: 0;
      width: 77.4vw; // 302px / 390px * 100vw
      max-width: 596px;
      height: auto;
      transition: transform global.$transition-base global.$transition-emphasize;

      &.swiper-slide-active {
        transform: translateY(-12px);
        
        @include global.mq(lg) {
          transform: translateY(-40px);
        }
      }
    }

    &-navigation {
      position: absolute;
      top: 42.6%;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      justify-content: space-between;
      padding-inline: 9px;
      width: 100%;
      max-width: 752px;
      z-index: 10;

      @include global.mq(lg) {
        top: 40.8%;
        padding-inline:0;
      }
    }

    &-btn {
      display: block;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      @include global.bg-color(swiper-navigation-btn-fv);
      transition: opacity global.$transition-base global.$transition-ease;

      &:hover,
      &:focus-visible {
        opacity: 0.7;
      }

      &-prev {
        padding-block: 5px 6px;
        padding-inline: 10px 13px;
      }

      &-next {
        padding-block: 5px 6px;
        padding-inline: 14px 10px;
      }

      & svg {
        width: 100%;
      }
    }
  }
}

