@use "../../../global/settings" as global;

.p-single-related-articles {
  padding-block: 40px 39px;

  @include global.mq(lg) {
    padding-block: 63px;
  }

  &__inner {

  }

  &__lead {
    
  }

  &__title {

  }

  &__contents {
    margin-block-start: 24px;

    @include global.mq(lg) {
      margin-block-start: 36px;
    }
  }

  &__swiper {

    &-navigation {
      
    }

    &-wrapper {

    }
  }
}