@use "../../global" as global;


.p-archive-all-articles {
  padding-block-start: 51px;

  @include global.mq(lg) {
    padding-block: 63px 32px;
  }

  &__inner {
    padding-inline: 18px;

    @include global.mq(lg) {
      padding-inline: clamp(100px, 14.1vw, 203px); // 中間値：203px / 1440px * 100vw
    }
  }

  &__title {

  }

  &__contents {
    position: relative;
    margin-block-start: 20px;

    @include global.mq(lg) {
      margin-block-start: 40px;
    }
  }

  &__sort {
    padding-right: 3px;

    @include global.mq(xl) {
      position: absolute;
      top: 5px;
      right: 26px;
    }
  }

  &__body {
    margin-block-start: 7px;
    min-height: 520px;

    @include global.mq(lg) {
      min-height: auto;
    }
  }

  &__list {

  }

  &__pagination {
    margin-block-start: 28px;

    @include global.mq(lg) {
      margin-block-start: 56px;
    }
  }
}