
@use "../../global" as global;

.p-home-popular-articles {
  padding-block: 40px 39px;
  background: url("#{global.$asset-img-path}/popular-articles.png") no-repeat top center/cover;

  @include global.mq(lg) {
    padding-block: 64px 53px;
  }

  &__inner {
    
  }

  &__lead {
    
  }

  &__title {

    .c-title__text {
      letter-spacing: 2.4px;

      @include global.mq(lg) {
        letter-spacing: 6.4px;
      }
    }
  }

  &__contents {
    margin-block-start: 23px;

    @include global.mq(lg) {
      margin-block-start: 36px;
    }
  }

  &__swiper {

    &-navigation {

    }

    &-wrapper {
      
    }
  }
}