@use "../../global" as global;

.p-home-fv {
  

  &__inner {

  }

  &__contents {
    position: relative;
    padding-block-end: 32px;

    @include global.mq(lg) {
      padding-block-end: 48px;
    }
  }

  &__swiper {
    padding-block: 50px 20px;

    @include global.mq(lg) {
      padding-block: 23px 0;
    }

    &-wrapper {

    }

    &-slide {
      margin-block-start: 12px;
      width: 77.4vw; // 302px / 390px * 100vw
      max-width: 596px;
      transition: margin-block-start global.$transition-base global.$transition-emphasize;

      @include global.mq(lg) {
        margin-block-start: 40px;
      }

      &.swiper-slide-active {
        margin-block-start: 0;
      }
    }

    &-navigation {
      position: absolute;
      top: 40.6%;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      justify-content: space-between;
      padding-inline: 9px;
      width: 100%;
      max-width: 752px;
      z-index: 10;

      @include global.mq(lg) {
        top: 43.2%;
        padding-inline:0;
      }
    }

    &-btn {
      display: block;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      @include global.bg-color(swiper-navigation);
      transition: opacity global.$transition-base global.$transition-ease;

      &:hover,
      &:focus-visible {
        opacity: 0.7;
      }

      &-prev {
        padding-block: 5px 6px;
        padding-inline: 10px 13px;
      }

      &-next {
        padding-block: 5px 6px;
        padding-inline: 14px 10px;
      }

      & svg {
        width: 100%;
      }
    }
  }
}

