@use "../../global" as global;

.p-tag-related-articles {
  padding-block: 40px 40px;

  @include global.mq(lg) {
    padding-block: 63px;
  }

  &__inner {

  }

  &__lead {
    // padding-inline: 32px 38px;
  }

  &__title {

  }

  &__contents {
    margin-top: 24px;

    @include global.mq(lg) {
      margin-top: 36px;
    }
  }

  &__swiper {

    &-navigation {
      // margin-top: 24px;
    }

    &-wrapper {

    }
  }
}