@use "../../../global/settings" as global;

.p-archive-search {
  padding-block: 56px 48px;

  @include global.mq(lg) {
    padding-block: 64px;
  }

  &__inner {
    padding-inline: 25px;

    @include global.mq(lg) {
      padding-inline: clamp(100px, 21.7vw, 312px); // 中間値：312px / 1440px * 100vw
    }
  }

  &__contents {

  }
}

